
html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#app {
    width: 100%;
    height: 100%;
    border: 4px solid #97F2F3; 
    z-index: 5;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    border:4px solid #F3F279;
}

#content {
    overflow-y: auto;
    position: absolute;
    top: 16;
    left: 16;
    width: calc(100%);
    height: calc(100%);
    padding: 40px 15px 130px 15px;
    z-index: 7;
    -ms-overflow-style: none;
}

#content::-webkit-scrollbar {
  display: none;
}

#background {
    position: absolute;
    top: 16;
    left: 16;
    width: 100%;
    height: 100%;
    background: url(/img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(30%);
    z-index: 6;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.title1 {
    font-size: 35px;
    color: #FFCC40;
    font-family: 'Bungee';
    line-height: 0.9;
    margin: 0px 0px 10px 0px;
}

.title2 {
    font-size: 30px;
    color: #97F2F3;
    font-family: 'Bungee';
    margin: 20px 0px;
}

.title3 {
    font-size: 18px;
    color: #97F2F3;
    font-family: 'Bungee';
    line-height: 1;
}

.title4 {
    font-size: 14px;
    color: #FFCC40;
    font-family: 'Bungee';
    line-height: 1;
}

a {
    font-family: 'Bungee';
    color: #F3F279 !important;
}

a:hover {
    color: #FFCC40 !important;
}

@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: normal;
  src: local('Bungee'), url('/font/Bungee-Regular.otf') format('truetype');
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.notification-warning {
    background-color: #FFCC40 !important;
}


.SocialNetwork {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin: 0px auto;
}

.SocialNetwork div {
    text-align: center;
    margin-bottom: 20px;
}

.SocialNetwork div div.SocialNetworkLogo {

}

.SocialNetwork div div.SocialNetworkCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
}

.fb-like {
    margin-top: 14px;
    margin-bottom: 6px !important;
}

.twitter-follow-button {
    margin-top: 12px !important;
}

#___ytsubscribe_0 {
    margin-top: 10px !important;
}