
.Article {
	position: relative;
	-webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    margin: 5px 0px;
}

.Article .row {
    margin: 0px !important;
}

.Article-image {
    max-width: 40%;
    max-height: 200px;
    min-height: 100px;
	vertical-align: middle;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.Article-image-img {
	position: absolute;
	max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate(-50%, -50%);
 }

.Article-title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-top: 10px;
	height: 54px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.Article-category {
	margin-top: 10px;
}

.Article-links {
	text-align: right;
	font-size: 12px;
	margin-top: 6px;
}

.Article-center-row {
}

.Article-vote {
	margin-top: 20px;
	margin-bottom: 15px;
	height: 100%;
	width: 100%;
	font-size: 20px;
	text-align: center;
    font-family: 'Bungee';
    color: #F3F279;
    cursor: pointer;
}

.Article-vote-done {
    color: #90ff90 !important;
}


.Article-vote:hover {
    color: #FFCC40;
}

