
.VideoAdmin {
	position: relative;
	-webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    margin: 20px 0px;
}

.VideoAdmin-picture img {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.Video-image-img {
	position: absolute;
	max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate(-50%, -50%);
 }

.Video-title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-top: 10px;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 22px !important;
}

.Video-category {
	margin-top: 5px;
	height: 50px;
	font-size: 20px !important;
}

.Video-links {
	text-align: left;
	font-size: 12px;
	margin-top: 2px;
}